@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");

:root {
  --main-input-bg-color: #efefef;
  --input-placeholder-color: #8e8e93;
  --input-color: #333333;
  --main-white: #fff;
  --main-black: #000;
  --main-grey: #efefef;
  --gray-700: #4d5761;
  --nav-link-color: #494949;
  --nav-lang-btn-color: #3e3e3e;
  --card-border: 0.5px solid #bfbfbf;
  --btn-red: #1d4f72;
  --product-title-color: #312b46;
  --main-bg-color: #ea580c;
  --footer-border: 1px solid #bfbfbf;
  --list-item-bg-color: #f5f6f6;
  --list-item-color: #212121;
  --input-label-color: #565656;
  --font-readex: "Readex Pro", sans-serif;
  --catalog-card-bg: #e9f0ff;
  --main-red: #f33434;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: GilroyExtraBold;
  src: url(/src/assets/fonts/gilroy_extrabold.otf);
}

@font-face {
  font-family: GilroyLight;
  src: url(/src/assets/fonts/gilroy_light.otf);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Readex Pro", sans-serif !important;
  background-color: #f7f7f7 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--main-input-bg-color) inset !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input,
button,
label {
  font-family: var(--font-readex);
}
input::placeholder {
  font-family: var(--font-readex);
}

.mantine-Drawer-inner {
  z-index: 99999;
}
.mantine-nn42t0:focus,
.mantine-nn42t0:focus-within {
  border: none;
  border-radius: 8px;
}

.mantine-nn42t0 {
  border-radius: 8px;
}
.mantine-9nwn4q {
  border-radius: 12px;
  padding: 0;

  overflow: hidden;
}
.mantine-3cfs4l {
  padding-top: 0;
  padding-bottom: 0;
}
.mantine-1xxb51r {
  padding-top: 0;
  margin-top: 0;
}

.mantine-16fdnqw {
  margin: 12px;
}

.parent-container {
  overflow-y: auto; /* Enable scrolling */
  height: 100%;
  position: relative;
  top: auto !important;
}

.fixedd {
  position: absolute !important;
  bottom: 0;
  width: max-content;
  top: auto !important;
}
.topCheck {
  top: 120px;
}

.mahsulotlar {
  background-color: var(--main-white);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
}
.mahsulotlar h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 24px 40px 0px;
}

.mantine-146gjqe {
  background-color: transparent;
}

@media (max-width: 768px) {
  .mahsulotlar h2 {
    font-size: 18px;
    margin: 16px 20px 0px;
  }
  main {
    padding-right: 10px;
    padding-left: 10px;
  }
  .mediaFixed {
    position: fixed !important;
    bottom: 82px;
    width: max-content;
    top: auto !important;
    width: 95% !important;
    display: flex;
  }
  .topCheck {
    top: auto;
  }
  .infoUserOpened {
    display: flex;
    flex-direction: column;
    position: static !important;
  }
  .css-jk1wt8 .css-10p9bt5 {
    padding-right: 15px;
    padding-left: 15px;
  }
}
